body {
    font-family: sans-serif;
    background-color: #333333
}

h1,
h2,
h3,
h4 {
    color: #ffffff;
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

p,
dd,
dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ffffcc;
    font-size: .75em;
}

.pane {
    position: absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333
}

.header {
    left: 50%;
    text-align: center;
}

.name {
    width: 50%;
    display: inline-block;
    float: left;
}

.description {}

.price {
    text-align: right;
    width: 50%;
    float: right;
}

.editdeletepane {}

.flash {
    background: #cee5f5;
}
