<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body><h1> Edit Menu Item </h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{item.name }}'>
	<p>Description:</p>
		<input type ='text' size='30' name='description' placeholder = '{{item.description}}'>
	<p>Price:</p>
		<input type ='text' size='30' name='price' placeholder = '{{item.price}}'>
	<p>Course:<p>

	{% if item.course == 'Appetizer' %}
		<dd><input type ='radio' name='course' value='Appetizer'checked >Appetizer</dd>
	{%else%}
	<dd><input type ='radio' name='course' value='Appetizer' >Appetizer</dd>
    {% endif %}

    {% if item.course == 'Entree' %}
       <dd><input type ='radio' name='course' value='Entree' checked>Entree</dd>

    {%else%}
		<dd><input type ='radio' name='course' value='Entree'>Entree</dd>
    {% endif %}

	{% if item.course == 'Dessert'%}
		<dd><input type ='radio' name='course' value='Dessert'checked >Dessert</dd>

	{% else %}
	   <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>

	{% endif %}


	{%if item.course =='Beverage'%}
		<dd><input type ='radio' name='course' value='Beverage'checked >Beverage</dd>
	{% else %}
		<dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
	{% endif %}



<input type='submit' value='Edit'>


<a href = '#'> Cancel </a>


</form>
</body>
</html>

